<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.computerstudent.smarttrackingdevice">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.BATTERY" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_icon_foreground"
        android:label="Smart Traking Device"
        android:roundIcon="@mipmap/ic_icon_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activity_about.about_project"
            android:label="About Project">

        </activity>
        <activity
            android:name=".activity_history.LocationHistory"
            android:label="Location History" />
        <activity
            android:name=".activity_battery.Battery"
            android:label="Battery" />
        <activity
            android:name=".activity_call.CallLog"
            android:label="Call Log" />
        <activity
            android:name=".activity_sms.smsLog"
            android:label="SMS Log" />
        <activity
            android:name=".activity_about.About_Tracker"
            android:label="About Software"></activity>
        <activity
            android:name=".activity_location.DeviceLocation"
            android:label="Location" />
        <activity
            android:name=".activity_location.YourLocation"
            android:label="Traker" />
        <activity android:name=".activity_about.contact_us"
            android:label="Contact Us">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <activity android:name=".onBordingSlide.SliderBackground"></activity>
        <activity
            android:name=".Home"
            android:label="Home" />
        <activity
            android:name=".Login"
            android:label="Login" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>